{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% block extra_css %}

    {% endblock %}
</head>
<body>
{% block sidebar %}
    <nav class="sidebar">
        <div class="logo">Меню</div>
        <ul class="menu-items">
            <li class="menu-item">
                <a href="{% url 'index' %}">Заметки</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'trash' %}">Корзина</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'login' %}">Профиль</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'category' %}">Категории</a>
            </li>
        </ul>
    </nav>
{% endblock %}

<div class="main-content">
    <h1>{{ h1 }}</h1>

    {% block content %}

    {% endblock %}
</div>
</body>
</html>
