{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_note.css' %}">
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form">
            <div class="input-container ic1">
                <input id="firstname" class="input" name="title" type="text" placeholder=" "
                       value="{{ form.title.value }}"/>
                <div class="cut"></div>
                <label for="firstname" class="placeholder">Заголовок</label>
            </div>
            <div class="input-container ic2">
                <input id="lastname" class="input" name="text" type="text" placeholder=" "
                       value="{{ form.text.value }}"/>
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Содержание</label>
            </div>
            <div class="input-container ic2">
                {{ form.color }}
            </div>
            <div class="input-container ic2">
                {{ form.category }}
            </div>
            <button type="submit" class="submit">Сохранить изменения</button>
            {% if object.is_deleted %}
                <button style="background-color: #ee6666" type="button" class="submit"
                        onclick="window.location.href='{% url 'delete_note' note.pk %}'">
                    Удалить
                </button>
            {% else %}
                <button style="background-color: #ee6666" type="button" class="submit"
                        onclick="window.location.href='{% url 'change_note' note.pk %}?trash=True'">
                    В корзину
                </button>
            {% endif %}
        </div>
    </form>
{% endblock content %}
