{% extends 'base.html' %}
{% load static %}
{% load note_extras %}

{% block content %}
    <div>
        <form action="" method="get">
            <button class="button" value="all" name="cat_id" onclick="this.form.submit()">Все категории</button>
            {% for cat in categories %}
                <button class="button" value="{{ cat.pk }}" name="cat_id"
                        onclick="this.form.submit()">{{ cat }}</button>
            {% endfor %}
        </form>
    </div>

    {% show_notes notes %}

    <button class="floating-button" onclick="window.location.href='{% url 'add_note' %}'">+</button>
{% endblock %}