* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #2c3e50;
    padding: 20px;
    color: white;
    transition: 0.3s;
}

.logo {
    font-size: 24px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

.menu-items {
    list-style: none;
}

.menu-item {
    margin-bottom: 15px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    padding: 12px;
    display: block;
    border-radius: 5px;
    transition: 0.3s;
}

.menu-item a:hover {
    background-color: #34495e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    /* Отступ снизу для отделения от заметок */
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    /* Позволяет размещать заметки в несколько строк */
}

.note-card {
    background-color: #ecf0f1;
    border-radius: 25px;
    width: calc(25% - 20px);
    /* 1/4 ширины минус отступы */
    aspect-ratio: 1;
    /* Сохраняет соотношение 1:1 для квадратной формы */
    margin: 10px;
    /* Отступы вокруг карточки */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Центрирование по вертикали */
    align-items: center;
    /* Центрирование по горизонтали */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    /* Убираем подчеркивание текста */
    color: inherit;
    /* Убираем цвет ссылки, чтобы использовать цвет текста карточки */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Плавный переход для трансформации и тени */
}

.note-card:hover {
    transform: scale(1.05);
    /* Увеличиваем карточку на 5% при наведении */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Увеличиваем тень при наведении */
}

.note-card h2 {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.note-card p {
    font-size: 16px;
    color: #2c3e50;
    text-align: center;
}

.form-group {
    margin-bottom: 15px; /* Отступы между полями формы */
    text-align: center;
    font-weight: 600;
    margin: 20px;
}

.form-input {
    width: 100%; /* Ширина поля ввода */
    padding: 10px; /* Отступы внутри поля */
    border: gray 1px solid;
    border-radius: 10px;
    background-color: transparent; /* Прозрачный фон */
    color: #2c3e50; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    outline: none; /* Убираем обводку при фокусе */
    text-align: center;
    resize: none;
    overflow: hidden;
    min-height: 0%;
}

.form-input::placeholder {
    color: rgba(44, 62, 80, 0.5); /* Цвет текста плейсхолдера */
    opacity: 1; /* Убираем прозрачность плейсхолдера */
}

.btn {
    background-color: #424445; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #2980b9; /* Цвет фона кнопки при наведении */
}

p {
    margin-bottom: 20px;
}

.btn.delete {
    background-color: #ee6666;
}

.btn.confirm {
    margin-top: 20px;
}

.note-card.default {
    background-color: #ecf0f1;
}

.note-card.red {
    background-color: rgba(255, 0, 0, 0.39);
    color: white; /* Чтобы текст был виден */
}

.note-card.blue {
    background-color: rgba(173, 216, 230, 0.42);
}

.note-card.yellow {
    background-color: rgba(255, 255, 0, 0.4);
}

.note-card.green {
    background-color: rgba(144, 238, 144, 0.41);
}

/* styles.css */
.floating-button {
    position: fixed; /* Фиксированное положение */
    bottom: 20px; /* Отступ от нижней части окна */
    right: 20px; /* Отступ от правой части окна */
    width: 60px; /* Ширина кнопки */
    height: 60px; /* Высота кнопки */
    background-color: #2c3e50; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 10px; /* Закругленные углы */
    font-size: 24px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    z-index: 1000; /* Уровень наложения, чтобы кнопка была поверх других элементов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
}

.floating-button:hover {
    background-color: #2c3e50; /* Темнее при наведении */
    transform: scale(1.1); /* Увеличение при наведении */
}

.button {
    background-color: #2c3e50; /* Зеленый фон */
    color: white; /* Белый текст */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Отображение в строку */
    font-size: 16px; /* Размер шрифта */
    margin: 5px; /* Отступы между кнопками */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.button:hover {
    background-color: #2c3e50; /* Темнее при наведении */
}

.cat {
    width: calc(15% - 20px);
    height: 90px;
}

.bold {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}